h1{
 color: red;
}
h2{
    color: green;
}
p
{
    color: red;
}
.img-views-core{
    height: auto;
    width: 250px;
}


.wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
